definitions:
  request.CreateUserRequest:
    properties:
      email:
        type: string
      password:
        type: string
      username:
        type: string
    required:
    - email
    - password
    - username
    type: object
  response.ErrorResponse:
    properties:
      code:
        description: 错误码，可自定义
        type: integer
      details:
        description: 可选，具体错误详情，例如字段验证错误
      message:
        description: 错误描述
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/pri/users:
    post:
      consumes:
      - application/json
      description: 创建一个新用户
      parameters:
      - description: 用户信息
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/request.CreateUserRequest'
      produces:
      - application/json
      responses:
        "204":
          description: 创建成功
          schema:
            type: string
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "500":
          description: 系统异常
          schema:
            $ref: '#/definitions/response.ErrorResponse'
      summary: 创建用户
      tags:
      - 用户
swagger: "2.0"
